<div class="user-details">
  <h1>About Me</h1> 
</div>
<ul style="list-style-type: circle;">
	<li><strong>Education</strong>
	<ul style="list-style-type: square;">
		<li>Master of Applied Sciences&nbsp;- Mechatronic Systems Engineering<br />Simon Fraser University | Summer 2021 - Summer 2023</li>
		<li>Bachelor of Applied Sciences&nbsp;- Mechatronic Systems Engineering<br />Simon Fraser University | Fall 2015 - Summer 2020</li>
	</ul></li>
	<li><strong>Publications</strong>
	<ul style="list-style-type: square;">
		<li><strong>Wonchul Lee</strong> and Woo Soo Kim "Self-controlled Yet Fast 3D Printing with Flexible Thermoplastic Polyurethane Materials" Submitted (2023)</li>
		<li>Chao Bao, Hadi Moeinnia, Tae-Ho Kim, <strong>Wonchul Lee</strong> and Woo Soo Kim "3D Structural Electronics via Multi-directional Robot 3D Printing" Advanced Materials Technologies, 2201349 (2022)</li>
		<li><strong>Wonchul Lee</strong>, Joshua Fritsch, Ahmed Maqsood, Shawn Liu, Tomas Bourassa, Ron Calara and Woo Soo Kim, "Adaptive 3D Printing for In-situ Adjustment of Mechanical Properties", Advanced Intelligent Systems, 2200229 (2022)</li>
		<li>Tae-Ho Kim, Xin Min, Daina Baker, <strong>Wonchul Lee</strong> and Woo Soo Kim, "3D architectured air sensing tubes for a 
		portable mechanical ventilator", Flexible and Printed Electronics, vol. 6, no. 3, p. 035010 (2021)</li>
	</ul></li>
	<li><strong>Technical Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Western Engineering Competition &lt;Senior Design&gt; | 2017</li>
		<li>Technovus SFU Mechathon | 2016</li>
		<li>Junior Contractor | 2016 - 2017</li>
		<li>Engineering Competition &lt;Junior Design&gt; | 2015</li>
	</ul></li>
	<li><strong>Technical Projects</strong>
	<ul style="list-style-type: square;">
		<li>ASM System, <i>MIPHA</i> | 2020 - Present</li>
		<li>Swarm Bots | 2020</li>
		<li>Automata: Mechanical Piano | 2019</li>
		<li>Insole Pressure Sensor | 2019</li>
		<li>Real-Time Liquid Cooling System | 2019</li>
		<li>Optimization of SkyTrain Station Location | 2019</li>
		<li>Gough Stewart Platform Manipulator | 2018</li>
		<li>Virtual ICT Controller | 2018</li>
		<li>Traffic Light Controller | 2017</li>
		<li>Mechanism and Structure Design for Narrow Transportation Vehicle | 2017</li>
	</ul></li>
	<li><strong>Work Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Portal Administrator | Samsung R&amp;D Canada</li>
		<li>Web Development Manager | Church</li>
		<li>Tutoring in Mathematics and Science</li>
	</ul></li>
	<li><strong>Volunteer Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Teaching Assistant Manager &amp; Volunteer Coordinator | Korean School</li>
	</ul></li>
	<li><strong>Honours and Awards</strong>
	<ul style="list-style-type: square;">
		<li>Graduate Fellowship | Simon Fraser University</li>
		<li>Special Grad Entrance Scholarship | Simon Fraser University</li>
		<li>Faculty of Applied Science Dean's Honour Roll | Simon Fraser University</li>
		<li>Undergraduate Open Scholarship | Simon Fraser University</li>
	</ul></li>
	<li><strong>Skills</strong>
	<ul style="list-style-type: square;">
		<li>Programming: Python | MATLAB | C++ | RobotC | LabView</li>
		<li>3D Modelling: SolidWorks | AutoCAD | Rhinoceros</li>
		<li>Operating System: Linux (Arch / Ubuntu) | Windows</li>
		<li>Documentation: LaTeX | Markdown | HTML | Microsoft Office Applications</li>
		<li>Hardware: Hand Tools | Power Tools | Electronic Circuits</li>
		<li>Technical Drawing</li>
	</ul></li>
</ul>