<div class="user-details">
  <h1>About Me</h1> 
</div>
<ul style="list-style-type: circle;">
	<li><strong>Education</strong>
	<ul style="list-style-type: square;">
		<li>Master of Applied Science&nbsp;- Mechatronic Systems Engineering<br />Simon Fraser University | Summer 2021 - Present
		<li>Bachelor of Applied Science&nbsp;- Mechatronic Systems Engineering<br />Simon Fraser University | Fall 2015 - Summer 2020</li>
	</ul></li>
	<li><strong>Technical Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Western Engineering Competition &lt;Senior Design&gt; |&nbsp;Jan, 2017<br />Banff, Alberta</li>
		<li>Technovus SFU Mechathon |&nbsp;Nov, 2016<br />Simon Fraser University</li>
		<li>Junior Contractor |&nbsp;Sep, 2016 - Dec, 2017<br />Canada Kwanglim Methodist Church</li>
		<li>Engineering Competition &lt;Junior Design&gt; |&nbsp;Oct, 2015<br />Simon Fraser University</li>
	</ul></li>
	<li><strong>Technical Projects</strong>
	<ul style="list-style-type: square;">
		<li>ASM System, <i>MIPHA</i> | 2020 - Present</li>
		<li>Swarm Bots, <i>SFU</i> | 2020</li>
		<li>Automata: Mechanical Piano, <i>SFU</i> | 2019</li>
		<li>Insole Pressure Sensor, <i>SFU</i> | 2019</li>
		<li>Real-Time Liquid Cooling System, <i>SFU</i> | 2019</li>
		<li>Optimization of SkyTrain Station Location, <i>SFU</i> | 2019</li>
		<li>Gough Stewart Platform Manipulator, <i>SFU</i> | 2018</li>
		<li>Virtual ICT Controller, <i>SFU</i> | 2018</li>
		<li>Traffic Light Controller, <i>SFU</i> | 2017</li>
		<li>Mechanism and Structure Design for Narrow Transportation Vehicle, <i>SFU</i> | 2017</li>
	</ul></li>
	<li><strong>Work Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Portal Administrator | Jan, 2018 - Aug, 2019<br />Samsung R&amp;D Canada</li>
		<li>Web Development Manager | Dec, 2016 - Aug, 2018<br />Canada Kwanglim Methodist Church</li>
		<li>Tutor | Sep, 2013 - Dec, 2017<br />Tutoring in Mathematics, Physics and Chemistry</li>
	</ul></li>
	<li><strong>Volunteer Experiences</strong>
	<ul style="list-style-type: square;">
		<li>Teaching Assistant Manager &amp; Volunteer Coordinator |&nbsp;Sep, 2013 - May, 2017<br />Korean School at Canada Kwanglim Methodist Church</li>
	</ul></li>
	<li><strong>Honours and Awards</strong>
	<ul style="list-style-type: square;">
		<li>Undergraduate Open Scholarship | Simon Fraser University</li>
		<li>Faculty of Applied Science Dean's Honour Roll | Simon Fraser University</li>
	</ul></li>
	<li><strong>Skills</strong>
	<ul style="list-style-type: square;">
		<li>Programming: Python | MATLAB | C++ | RobotC | LabView</li>
		<li>3D Modelling: SolidWorks | AutoCAD | Rhinoceros</li>
		<li>Operating System: Linux (Arch / Ubuntu) | Windows</li>
		<li>Documentation: LaTeX | Markdown | HTML | Microsoft Office Applications</li>
		<li>Hardware: Hand Tools | Power Tools | Electronic Circuits</li>
		<li>Technical Drawing</li>
	</ul></li>
</ul>